body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/computer.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
  }

  h1 {
    text-align: center;
    margin: 10px 0;
  }

  label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button[type="submit"] {
    width: 100%;
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px 0;
  }

  button[type="submit"]:hover {
    background-color: #000000;
  }

  p {
    text-align: center;
    margin-top: 10px;
  }

  a {
    color: #1100ff;
    text-decoration: none;
  }